[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Store-Microservices-Nest/gateway.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/Store-Microservices-Nest/orders-ms.git
[submodule "product-ms"]
	path = product-ms
	url = https://github.com/Store-Microservices-Nest/products-ms.git
[submodule "payments-ms"]
	path = payments-ms
	url = https://github.com/Store-Microservices-Nest/payments-ms.git
